@import "../../mystyles.sass"

@media screen and (max-width: 768px)
  .level-item:not(:last-child)
    margin-bottom: 1rem !important

.footer-separator
  height: 1px
  margin: 1rem 0 1rem

@media (prefers-color-scheme: light)
  .footer
    background-color: $lightmode-white !important
    .footer-text h3
      color: $lightmode-grey !important
    .footer-text p
      color: $lightmode-grey !important
    .footer-separator
      color: $lightmode-grey
      background-color: $lightmode-grey

@media (prefers-color-scheme: dark)
  .footer
    background-color: $darkmode-black !important
    .footer-text h3
      color: $darkmode-white !important
    .footer-text p
      color: $darkmode-white !important
    .footer-separator
      color: $darkmode-grey
      background-color: $darkmode-grey
