@font-face
  font-family: 'Raleway'
  src: local('Raleway'), url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype')

@font-face
  font-family: 'Lora'
  src: local('Lora'), url('./fonts/Lora-VariableFont_wght.ttf') format('truetype')

:root
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%

body
  margin: 0
  display: flex
  place-items: center
  min-width: 320px
  min-height: 100vh

h1
  font-family: Raleway, Avenir, Helvetica, Arial, sans-serif
  font-size: 3.2em
  font-weight: 500
  line-height: 1.1

p
  font-family: Lora, Avenir, Helvetica, Arial, sans-serif
  font-size: 1.2em
  font-weight: 400
  line-height: 1.5

// @media (prefers-color-scheme: light)
//   :root
//     color: #213547
//     background-color: #ffffff
//   a:hover
//     color: #747bff

// @media (prefers-color-scheme: dark)
//   :root
//     color: #ffffff
//     background-color: #131112
//   a:hover
//     color: #279af1